<?xml version="1.0"?>
<UserConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AudioLanguagePreference>eng</AudioLanguagePreference>
  <PlayDefaultAudioTrack>true</PlayDefaultAudioTrack>
  <SubtitleLanguagePreference>pt-br</SubtitleLanguagePreference>
  <DisplayMissingEpisodes>false</DisplayMissingEpisodes>
  <SubtitleMode>Default</SubtitleMode>
  <EnableLocalPassword>false</EnableLocalPassword>
  <OrderedViews>
    <string>af92f2d68eea947c7f9df41836afb987</string>
    <string>d565273fd114d77bdf349a2896867069</string>
    <string>b8fdccf76acc620fb56db411c92378d4</string>
  </OrderedViews>
  <LatestItemsExcludes />
  <MyMediaExcludes />
  <HidePlayedInLatest>true</HidePlayedInLatest>
  <RememberAudioSelections>true</RememberAudioSelections>
  <RememberSubtitleSelections>true</RememberSubtitleSelections>
  <EnableNextEpisodeAutoPlay>true</EnableNextEpisodeAutoPlay>
  <ResumeRewindSeconds>0</ResumeRewindSeconds>
  <IntroSkipMode>ShowButton</IntroSkipMode>
</UserConfiguration>